/* Sempre iniciar o estilo geral */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@400;500;600;700&display=swap');

/*criando o estilo padrão*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Inter';
    font-size: 18px;
    background-color: #121212;
    color: #FFF;

}

.container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}

.logo a {
    font-family: 'calistoga';
    font-size: 36px;
    color: #FFF;
    text-decoration: none;
}

.logo a span {
    color: #fe6a0f;
}


/*HEADER*/
header .container {
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 50px;

}

header nav {
    flex: 1;
    /* ocupar todo o espaço*/
    display: flex;
    align-items: center;

}

header nav .leftside {
    display: flex;
    flex: 1;

}

header nav li {
    margin: 0 30px;
    /*Espaçando o menu*/
}

header nav li a {
    color: #FFF;
    /* cor do texto do menu*/
    text-decoration: none;
    /*retirando o sublinhado do texto*/
}

header nav li a:hover {
    /*hover- Aterando a cor quando movimnentar o mouse*/
    color: #FE6A0F;
}

header nav .button {
    display: block;
    border: 1px solid #FFF;
    padding: 15px 30px;
    /*altura e largura*/
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    /*retirando o sublinhado do texto*/
}

header nav .button:hover {
    color: #fe6a0f;
    border-color: #FFF;
}

header .menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}


header .menu-icon {
    width: 32px;
    height: 32px;
    display: flex;
    /*Um item a baixo do outro*/
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .menu-icon div {
    height: 6px;
    background-color: #FFF;
}

/*HERO AREA*/
.hero .container {
    display: flex;
}

.hero .leftside,
.hero .rightside {
    flex: 1;
}

.hero .leftside {
    padding-bottom: 150px;
}

.hero .rightside {
    text-align: center;
}

.hero .rightside img {
    width: auto;
    height: 600px;
}

.hero h1 {
    font-family: 'Calistoga';
    font-size: 72px;
    line-height: 74px;
    margin-top: 50px;
}

.hero p {
    font-size: 20px;
    line-height: 26px;
    margin: 40px 0;
}

.hero .button {
    display: inline-block;
    background-color: #FE6A0F;
    font-weight: 500;
    font-size: 20px;
    color: #FFF;
    padding: 15px 80px;
    border-radius: 5px;
    text-decoration: none;
}

.hero .button:hover {
    /*Criando uma opacidade quando o mouse passa por cima.*/
    opacity: 0.7;

}

/* SEARCH */
.search {
    background-color: #1F1F1F;
    padding: 80px 0;
    /* negativo para que a imagem avance na parte do Seach*/
    margin-top: -100px;

}

.search .title {
    font-size: 32px;
    font-weight: 500;
}

.search .sides {
    /*flex- para ficar um item ao lado do outro*/
    display: flex;
    margin-top: 30px;
    gap: 100px;

}

.search .leftside,
.search .rightside {
    /*configurando ambos*/
    flex: 1;

}

.search input,
.search select {
    width: 100%;
    background-color: #2b2b2b;
    color: #FFF;
    font-size: 24px;
    outline: none;
    padding: 20px;
    border: 0;
    border-radius: 5px;

}

.search input {
    /*inserindo a lupa*/
    background-image: url(./searchIcon.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 60px;
}

.search select {
    border-right: 20px solid transparent;
}

/* GRID PRODUCTS*/
.products-grid {
    display: grid;
    /*3 colunas*/
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px 0;

}

.product-item {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}

.product-item:hover {
    opacity: 0.8;
}

.product-item .warning {
    position: absolute;
    /*REFERENTE AO PRODUCT ITEM*/
    top: 30px;
    left: 30px;
    background-color: #FE6A0F;
    font-size: 16PX;
    font-weight: 500;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 4px;

}

.product-item .photo {
    text-align: center;
    background-color: #2b2b2b;
    padding-top: 30px;
}

.product-item .photo img {
    max-width: 100%;
}

.product-item .info {
    background-color: #1F1F1F;
    padding: 60px 30px 30px 30px;
    margin-top: -60px;
}

.product-item .product-category {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.product-item .product-name {
    font-family: 'Calistoga';
    font-size: 32px;
    color: #FFF;
    margin: 10px 0;

}

.product-item .product-price {
    font-size: 32px;
    font-weight: bold;
    color: #FE6A0F;
}

/*FOOTER*/
footer {
    background-color: #1F1F1F;
    color: #fff;
}

footer .container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:820px) {
    header nav {
        display: none;
    }

    header .menu {
        display: flex;
    }

    .hero .container {
        /*Responsividade - para ficar um abaixo do outro*/
        flex-direction: column;
    }

    .hero .leftside {
        text-align: center;
        padding-bottom: 40px;
    }

    .hero .rightside {
        padding-bottom: 50px;
    }

    .hero .rightside img {
        /*Reduzindo o tamanho da imagem*/
        height: 300px;
    }

    .hero h1 {
        font-size: 44px;
        line-height: 50px;
    }

    .search {
        padding-bottom: 30px;
    }

    .search .title {
        text-align: center;
    }

    .search .sides {
        flex-direction: column;
        gap: 20px;

    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}